[workspace]
members = [
    "derive",
    "tests/serde",
    "tests/fmt",

    "json",
    "json/benches",
    "json/tests",
]

[package]
name = "sval"
version = "0.2.0"
authors = ["Ashley Mannix <ashleymannix@live.com.au>"]
edition = "2018"
documentation = "https://docs.rs/sval"
description = "A no-std, object-safe serialization framework"
repository = "https://github.com/sval-rs/sval"
readme = "README.md"
exclude = [
    ".travis.yml"
]
license = "Apache-2.0 OR MIT"
keywords = ["serialization", "no_std"]
categories = ["encoding", "no-std"]

[package.metadata.docs.rs]
features = ["derive", "serde", "fmt", "test"]

[badges]
travis-ci = { repository = "sval-rs/sval" }

[features]
# Support the standard library
std = []

# Support stacks with an arbitrary depth
arbitrary-depth = ["std", "smallvec"]

# Add a custom derive for `Value`
derive = ["sval_derive"]

# Support streaming values as tokens
# that can be inspected in tests
test = ["std"]

# Support integration with `std::fmt`
fmt = []

# Support integration with `serde`
serde = ["std", "serde_lib/std"]

[dependencies.smallvec]
version = "0.6"
optional = true

[dependencies.serde_lib]
version = "1"
optional = true
default-features = false
package = "serde"

[dependencies.sval_derive]
version = "0.2.0"
path = "./derive"
optional = true

[dev-dependencies.quickcheck]
version = "0.8"

[profile.release]
debug = true
