[workspace]
members = [
    "derive",
    "tests/serde_alloc",
    "tests/serde_no_alloc",
    "tests/fmt",

    "json",
    "json/benches",
    "json/tests",
]

[package]
name = "sval"
version = "1.0.0-alpha.4"
authors = ["Ashley Mannix <ashleymannix@live.com.au>"]
edition = "2018"
documentation = "https://docs.rs/sval"
description = "A no-std, object-safe serialization framework"
repository = "https://github.com/sval-rs/sval"
readme = "README.md"
exclude = [
    ".travis.yml",
    "ci/*"
]
license = "Apache-2.0 OR MIT"
keywords = ["serialization", "no_std"]
categories = ["encoding", "no-std"]

[package.metadata.docs.rs]
features = ["derive", "serde", "fmt", "test", "std"]

[badges]
travis-ci = { repository = "sval-rs/sval" }

[features]
# Support the standard library
std = ["alloc"]

# Support alloc
alloc = []

# Support stacks with an arbitrary depth
arbitrary-depth = ["alloc", "smallvec"]

# Add a custom derive for `Value`
derive = ["sval_derive"]

# Support integration with `core::fmt`
fmt = []

# Support integration with `serde`
# Any future versions of `serde` will be added to this feature
serde = ["serde1"]

# Support integration with just `serde` `1.0`
serde1 = ["serde1_lib"]

# Support streaming values as tokens
# that can be inspected in tests
test = ["std"]

[dependencies.smallvec]
version = "1"
default-features = false
optional = true

[dependencies.serde1_lib]
version = "1.0.104"
optional = true
default-features = false
package = "serde"

[dependencies.sval_derive]
version = "1.0.0-alpha.4"
path = "./derive"
optional = true

[dependencies.inlinable_string]
version = "0.1"

[dev-dependencies.quickcheck]
version = "0.9"

[profile.release]
debug = true
