[package]
name = "sval_derive"
version = "0.5.2"
authors = ["Ashley Mannix <ashleymannix@live.com.au>"]
edition = "2018"
documentation = "https://docs.rs/sval_derive"
description = "Custom derive for sval"
repository = "https://github.com/sval-rs/sval"
license = "Apache-2.0 OR MIT"

[lib]
proc-macro = true

[dependencies.syn]
version = "1"

[dependencies.quote]
version = "1"

[dependencies.proc-macro2]
version = "1"
